*.hcl
*.tfplan
*.tfstate
*.tfstate.backup
.DS*/*
*.idea*/*
*.idea*/iam*
*.idea*/*iam*
.idea*/*
.idea*/iam*
.idea*/*iam*
.DS_Store
.DS_Store/*
*/*/*.hcl
*/*/*.tfplan
*/*/*.tfstate
*/*/*.tfstate.backup
*/*/*.idea*
*/*/.terraform
*/__pycache__/
*/*/__pycache__/
*/__pycache__/*
build
*/build
venv
venv/*
.vscode
.vscode/*

